@use "../globals.scss";

.comment-container {
  width: globals.$post-width;

  h1 {
    font-weight: 500;
  }
}

.comment-area {
  @extend %align-space-between;
  width: globals.$comment-width;
  margin: 28px 0;
}

@mixin input($width: 154px) {
  box-sizing: border-box;
  border: 1px solid globals.$black-50;
  border-radius: 5px;
  height: 40px;
  width: $width;
  font-family: var(--font-montserrat);

  &::placeholder {
    color: globals.$black-50;
    text-align: center;
  }
}

.input-username {
  @include input($width: 154px);
}

.input-comment {
  @include input($width: 437px);
}

.button-submit {
  width: 133px;
  height: 40px;
  color: white;

  background-color: globals.$primary-color;
  border-radius: 6px;
  border: none;
  outline: none;
}
