$primary-color: #18a0fb;
$secondary-color: #6de4ea;
$white: #ffffff;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-items {
  display: flex;
  width: 90%;
  height: 60px;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    color: $primary-color;
    gap: 4rem;
  }
}

.search {
  border-radius: 5px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  height: 40px;

  div {
    color: $white;
    width: 77px;
    text-align: center;
  }

  input {
    width: 233px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid $primary-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.line {
  margin: 10px 0;
  width: 90%;
  border: 1px solid $secondary-color;
}
