@use "globals";

.header,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 264px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  justify-content: center;
}

.layout-items {
  display: flex;
  width: 90%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  .copyright {
    color: rgba(256, 256, 256, 0.8);
  }
}

.header-menu {
  display: flex;
  color: globals.$primary-color;
  gap: 4rem;
}

.footer-menu {
  display: flex;
  color: white;
  gap: 4rem;
}

.search {
  border-radius: 5px;
  background-color: globals.$primary-color;
  display: flex;
  align-items: center;
  height: 40px;

  div {
    color: white;
    width: 77px;
    text-align: center;
  }

  input {
    width: 233px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid globals.$primary-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.line {
  margin: 10px 0;
  width: 90%;
  border: 1px solid globals.$secondary-color;
}
